<article class="products">
	<h2>Listing posting</h2>
</article>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Category</th>
    <%if current_user != nil && current_user.admin?%>
    	<th>Accepted</th>
    <%end%>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @postings.each do |posting| %>
  <tr>
    <td><%= posting.name %></td>
    <td><%= posting.description %></td>
    <td><%= posting.category %></td>
    <%if current_user != nil && current_user.admin?%>
    	<td><%= posting.accepted %></td>
    <%end%>
    <td><%= link_to 'Show', posting %></td>
    <td><%= link_to 'Edit', edit_posting_path(posting) %></td>
    <td><%= link_to 'Destroy', posting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Posting', new_posting_path %>
